body {
	font-family: "Yanone Kaffeesatz", sans-serif;
}

p {
	font-size: 18px;
	line-height: 1.5em;
}
h2 {
	font-size: 40px;
}
@media screen and (max-width: 991px) {
	h2 {
		text-align: center;
	}
}
h3 {
	font-size: 32px;
	line-height: 16px;
}
.name {
	font-size: 48px;
}

.description {
	font-size: 24px;
}
@media screen and (max-width: 386px) {
	.name{
		font-size: 44px;
	}
	.description{
	font-size: 20px;
}
}
.page {
	max-width: 1440px;
}

.color-block {
	text-align: right;
	margin-top: 128px;
	padding-right: 56px;
}

.box {
	float: right;
	margin-left: 9999px;
	width: 72px;
	height: 72px;
}

.box1 {
	background-color: #02b3e4;
}

.box2 {
	background-color: #2d3c49;
}

.box3 {
	background-color: #7d97ad;
}

.hr-gradient {
	margin-top: 0;
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

h2 {
	margin-bottom: 24px;
}